body {
  background: linear-gradient(to bottom left, rgb(217, 40, 237), rgb(17, 106, 232), white); 
  min-height: 100vh; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
